.photo-grid__delete-button {
    background: none;
    position: absolute;
    background-image: url(../../../images/trash.svg);
    background-repeat: no-repeat;
    align-self: end;
    width: 18px;
    height: 19px;
    border: none;
    margin: 0;
    padding: 0;
    transition: opacity 0.3s;
    top: 17px;
    right: 19px;
}

.photo-grid__delete-button:hover {
    opacity: 0.5;
    cursor: pointer;
}