.popup__save-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 0;
    background: #000000;
    border: 0;
    border-radius: 2px;
    color: #ffffff;
    transition: opasity 0.3s;
    margin-top: 48px;
    margin-bottom: 37px;
}

.popup__save-button:hover:not(:disabled) {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 890px) {
    .popup__save-button {
        margin-top: 45px;
        margin-bottom: 25px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}