.page {
    max-width: 1280px;
    flex-direction: column;
    color: #ffffff;
    display: flex;
    align-items: center;
    background-color: #000000;
    margin: 0 auto;
    padding: 0 200px;
}

@media screen and (max-width: 1279px) {
    .page {
        padding: 0 19px;
    }
}