.popup__close-button {
    position: absolute;
    top: -39px;
    right: -38px;
    transform: opacity 0.3s;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__close-button {
        top: -38px;
        right: 0px;
    }
}