.popup__close-button {
    all: unset;
    position: absolute;
    top: 115px;
    left: 779px;
    transition: opacity 0.3s;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 890px) {
    .popup__close-button {
        top: 94px;
        left: 560px;
    }
}