@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__photo/profile__photo.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__change-button/profile__change-button.css);
@import url(../blocks/profile/__bio/profile__bio.css);
@import url(../blocks/profile/__job/profile__job.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__change-button-img/profile__change-button-img.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/photo-grid/__like-button/photo-grid__like-button.css);
@import url(../blocks/photo-grid/__background/photo-grid__background.css);
@import url(../blocks/photo-grid/__image/photo-grid__image.css);
@import url(../blocks/photo-grid/__items/photo-grid__items.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/photo-grid/__like-button/photo-grid__like-button.css);
@import url(../blocks/photo-grid/__title/photo-grid__title.css);
@import url(../blocks/photo-grid/__photo-info/photo-grid__photo-info.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__close-button-img/popup__close-button-img.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__save-button/popup__save-button.css);
@import url(../blocks/popup/_visible/popup_visible.css);