.footer {
    display: flex;
    align-items: end;
    width: 880px;
    padding-top: 67px;
    padding-bottom: 60px;
}

@media screen and (max-width: 890px) {
    .footer {
        width: 282px;
        padding-top: 48px;
        padding-bottom: 36px;
    }
}