.header {
    display: flex;
    min-height: 74px;
    width: 880px;
    padding-top: 40px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 890px) {
    .header {
        min-height: 56px;
        width: 320px;
        padding-top: 28px;
    }
}
